{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": "11" // Targeting Internet Explorer 11 ensures ES5 compatibility
                }
            }
        ]
    ]
}