<div class="questionPreview" id="questionBody">
    <div class="questionPreview__text recruitment__questionText MuiBox-root css-0">Which of the following have you done
        <strong>in the past 12 months</strong>?
    </div>
    <div class="questionPreview__answer recruitment__answerWrap ">
        <div class="Checkboxes recruitment__input_margin ">
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128942"
                        data-sharkid="__0"><span><span style="">Attend a party/gathering in someone else's
                            home</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128964"
                        data-sharkid="__1"><span><span style="">Bet online on sport</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128945"
                        data-sharkid="__2"><span><span style="">Go to a movie theater</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128949"
                        data-sharkid="__3"><span><span style="">Attend a live professional or collegiate sporting event
                            (eg football game, basketball game)</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128941"
                        data-sharkid="__4"><span><span style="">Dine out at a restaurant</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128944"
                        data-sharkid="__5"><span><span style="">Outdoor activities (eg hiking,
                            kayaking)</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128948"
                        data-sharkid="__6"><span><span style="">Visit a casino</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128947"
                        data-sharkid="__7"><span><span style="">Used a private health and fitness
                            club/gym</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128963"
                        data-sharkid="__8"><span><span style="">Play online casino</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128943"
                        data-sharkid="__9"><span><span style="">Play video games</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128965"
                        data-sharkid="__10"><span><span style="">Bet online on eSport</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128946"
                        data-sharkid="__11"><span><span style="">Attend a live performance (eg concert, stage
                            play)</span></span></label></div>
            <div class="Checkbox checkbox"><label title=""><input type="checkbox" value="128950"
                        data-sharkid="__12"><span><span style="">None of these</span></span></label></div>
        </div>
    </div>
    <div class="questionPreview__wrapButtons">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-2"><button type="button"
                    class="btn btn-danger form-control recruitment-back-btn btnPreviewPrev questionPreview__btn_left">Back</button>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-10"><button type="button"
                    class="btn btn-primary form-control recruitment-btn btnPreviewNext questionPreview__btn_right">Next</button>
            </div>
        </div>
    </div>
</div>