<div class="questionPreview" id="questionBody">
    <div class="questionPreview__text recruitment__questionText MuiBox-root css-0">Which of the below best describes
        your current occupation?</div>
    <div class="questionPreview__answer recruitment__answerWrap ">
        <div class="recruitment__input_margin ">
            <div class="radio"><label title=""><input name="radioGroup" type="radio" data-sharkid="__0"><span><span
                            style="">Employed full-time</span></span></label></div>
            <div class="radio"><label title=""><input name="radioGroup" type="radio" data-sharkid="__1"><span><span
                            style="">Employed part-time</span></span></label></div>
            <div class="radio"><label title=""><input name="radioGroup" type="radio" data-sharkid="__2"><span><span
                            style="">Own business / Employer</span></span></label></div>
            <div class="radio"><label title=""><input name="radioGroup" type="radio" data-sharkid="__3"><span><span
                            style="">Self-employed / Freelancer</span></span></label></div>
            <div class="radio"><label title=""><input name="radioGroup" type="radio" data-sharkid="__4"><span><span
                            style="">Homemaker / Full-time parent</span></span></label></div>
            <div class="radio"><label title=""><input name="radioGroup" type="radio" data-sharkid="__5"><span><span
                            style="">Student / Pupil</span></span></label></div>
            <div class="radio"><label title=""><input name="radioGroup" type="radio" data-sharkid="__6"><span><span
                            style="">Unemployed</span></span></label></div>
            <div class="radio"><label title=""><input name="radioGroup" type="radio" data-sharkid="__7"><span><span
                            style="">Retired / Pensioner</span></span></label></div>
            <div class="radio"><label title=""><input name="radioGroup" type="radio" data-sharkid="__8"><span><span
                            style="">Prefer not to answer</span></span></label></div>
        </div>
    </div>
    <div class="questionPreview__wrapButtons">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-2"><button type="button"
                    class="btn btn-danger form-control recruitment-back-btn btnPreviewPrev questionPreview__btn_left">Back</button>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-10"><button type="button"
                    class="btn btn-primary form-control recruitment-btn btnPreviewNext questionPreview__btn_right">Next</button>
            </div>
        </div>
    </div>
</div>